














<!DOCTYPE html>
<html>
<head lang="zh_CN">
 <meta charset="UTF-8">
 <meta name="format-detection" content="telephone=no,address=no,email=no"/>
 <meta name="mobileOptimized" content="width"/>
 <meta name="handheldFriendly" content="true"/>
 <meta name="apple-mobile-web-app-capable" content="yes"/>
 <meta name="apple-mobile-web-app-status-bar-style" content="black"/>
 <base href="//hf.gamecenter.vivo.com.cn">

 <title>V钻.礼券</title>
 <meta name="keywords" content=""/>
 <meta name="description" content=""/>

 <link rel="stylesheet" href="//hf.gamecenter.vivo.com.cn/assets/css/normalize.css"/>
 <script src="//hf.gamecenter.vivo.com.cn/assets/js/common/global.js?t=20170519"></script>

 <link rel="stylesheet" href="//hf.gamecenter.vivo.com.cn/assets/css/vjewel-activity.css"/>

</head>
<body>

<header id="header">
        <a class="help" href="//hf.gamecenter.vivo.com.cn/assets/html/help.html"></a>
        <a class="link" href="//hf.gamecenter.vivo.com.cn/my/coupon"></a>
        <a class="recharge" id="rechargeBtn" href="javascript:;" style="display:none;">充值</a>
        <div>
            <h2 class="vjewel">V钻余额</h2>
            <p class="vjewel"></p>
            <h2 class="coupon">礼券余额<span class="coupon"></span><a href="//hf.gamecenter.vivo.com.cn/my/coupon"></a></h2>
        </div>
    </header>
    <main id="main">
        <h2>V钻活动</h2>
    </main>
    <script type="text/html" id="j_template">
        {{each activityModuleList}}
        {{if responseTime < $value.startTime}}
        <li class="nostart" data-id="{{$value.id}}" data-title="{{$value.title}}" data-h5-link="{{$value.h5_link}}">
            <img class="app-picture" src="{{$value.icon_url | srcHandler:'http://img.wsdl.vivo.com.cn'}}"/>

            <div class="wrapper">
                <div>
                    <p class="description{{if $value.tag==3}} official{{/if}}">{{$value.title}}</p>

                    <p class="status">{{formatStartDate(responseTime,$value.startTime,$value.endTime)}}</p>
                </div>
                <a class="button">去看看</a>
            </div>
        </li>
        {{else if responseTime > $value.endTime}}
        <li class="end" data-id="{{$value.id}}" data-title="{{$value.title}}" data-h5-link="{{$value.h5_link}}">
            <img class="app-picture" src="{{$value.icon_url | srcHandler:'http://img.wsdl.vivo.com.cn'}}"/>

            <div class="wrapper">
                <div>
                    <p class="description{{if $value.tag==3}} official{{/if}}">{{$value.title}}</p>

                    <p class="status">{{formatStartDate(responseTime,$value.startTime,$value.endTime)}}</p>
                </div>
                <a class="button">获奖名单</a>
            </div>
        </li>
        {{else}}
        <li class="underway" data-id="{{$value.id}}" data-title="{{$value.title}}" data-h5-link="{{$value.h5_link}}">
            <img class="app-picture" src="{{$value.icon_url | srcHandler:'http://img.wsdl.vivo.com.cn'}}"/>

            <div class="wrapper">
                <div>
                    <p class="description{{if $value.tag==3}} official{{/if}}">{{$value.title}}</p>

                    <p class="status">{{formatStartDate(responseTime,$value.startTime,$value.endTime)}}</p>
                </div>
                <a class="button">进行中</a>
            </div>
        </li>
        {{/if}}
        {{/each}}
    </script>

<script type="text/javascript">
 var ctx='//hf.gamecenter.vivo.com.cn';
 var GAMECENTER_URL = "https://gamecenter.vivo.com.cn";
 var PAYMENT_URL = "https://pay.vivo.com.cn";
</script>
<script src="//hf.gamecenter.vivo.com.cn/assets/js/zepto/zepto.min.js"></script>
<script src="//hf.gamecenter.vivo.com.cn/assets/js/cookie/cookie.js"></script>
<script src="//hf.gamecenter.vivo.com.cn/assets/js/fastclick/fastclick.js"></script>
<script>
 $(function(){
   FastClick.attach(document.body);
 });
</script>
<script src="//hf.gamecenter.vivo.com.cn/resources/js/base/index.js?v=sss1523263766285"></script>

<script src="//hf.gamecenter.vivo.com.cn/assets/js/template/template.js"></script>
    <script>
		var showPayFlag = 'true';
	    $(function(){
	    	if(typeof(showPayFlag)!='undefined'&&'true'==showPayFlag){
	    		$("#rechargeBtn").show();
	    	}
	    });
        var querying = false,  //是否正在查询余额
                activity_querying=false,    //是否正在查询V钻活动数据
                $vjewel = $('#header p.vjewel'),
                $coupon = $('#header span.coupon'),
                $link = $('#header .link'),
                hide_class = 'hide',
                error_class = 'error',
                failed_text = '查询失败，点击重试',
                init=true,  //初始化V钻活动
                page= 1,
                hasNext=true,
                $window=$(window),
                $body=$(document.body),
                $ul,
                $rechargeBtn = $("#rechargeBtn");

        //设置cookie
//            $.cookie('model','vivo+Xplay3S');
//            $.cookie('imei','865407010000009');
//            $.cookie('status',1);
//            $.cookie('av',19);
//            $.cookie('cs',0);
//            $.cookie('sign','2|3580131483');
//            $.cookie('p','test');
//            $.cookie('app_version','40');
//            $.cookie('elapsedtime','3544069');
//            $.cookie('r','NzU5M2U0OTE1NGI4ZmZhNTE3M2UuNTI1OTI3NS4xNDQ3OTAwODg2NDEy');
//            $.cookie('n','880461d865bd98c5');
//            $.cookie('q','test');

        //查询V钻余额和礼券余额
        function queryBalance() {
            $.ajax({
                type: 'POST',
                dataType: 'json',
                timeout: 10000,
                url: 'https://pay.vivo.com.cn/vcoin/game/blance',
                data: {
                    appVersion: $.cookie("app_version")||$.cookie("vvc_app_version"),
                    elapsedtime: $.cookie("elapsedtime")||$.cookie("vvc_elapsedtime"),
                    imei: $.cookie("imei")||$.cookie("vvc_imei"),
                    logged: ($.cookie("status")||$.cookie("vvc_status")) === '1',
                    model: $.cookie("model")||$.cookie("vvc_model"),
                    openid: $.cookie("n")||$.cookie("vvc_openid"),
                    sign: $.cookie('vvs_vivos_sign'),
                    token: $.cookie("r")||$.cookie("vvc_r"),
                    username: $.cookie("p")||$.cookie("vvc_p"),
                    uuid: $.cookie("q")||$.cookie("vvc_q"),
                    cs: $.cookie("cs")||$.cookie("vvc_cs"),
                    av: $.cookie("av")||$.cookie("vvc_av"),
                    version: '1.0.0'
                },
                success: function (data) {
                    var vjewel_balance, coupon_balance;
                    $vjewel.addClass(hide_class);
                    $coupon.addClass(hide_class);
                    if (data.respCode === '200') {
                        //返回数据的单位是分
                        vjewel_balance = (data.balance / 100).toFixed(2);
                        coupon_balance = (data.userTicketBalance / 100).toFixed(2);
                        if (vjewel_balance > 100000000) {
                            vjewel_balance = "99999999.99+";
                        }
                        // 解决数值太长与充值按钮重叠
                        if(vjewel_balance >= 1000000){
                            $vjewel.addClass('max-font-size');
                        }
                        $vjewel.text(vjewel_balance);

                        if (coupon_balance > 100000000) {
                            $coupon.text("99999999.99+");
                        } else {
                            $coupon.text(coupon_balance);
                        }
                        $link.show();
                    } else {
                        $vjewel.addClass(error_class).text(failed_text);
                        $coupon.addClass(error_class).text(failed_text);
                        $link.hide();
                    }
                    querying = false;
                },
                error: function () {
                    $vjewel.addClass(hide_class).addClass(error_class).text(failed_text);
                    $coupon.addClass(hide_class).addClass(error_class).text(failed_text);
                    $link.hide();
                    querying = false;
                }
            });
            querying = true;
        }

        queryBalance();

        //重新查询V钻余额
        $vjewel.on('tap', function () {
            if ($vjewel.text() === failed_text && !querying) {
                $vjewel.text('').removeClass(hide_class).removeClass(error_class);
                queryBalance();
            }
        });

        //重新查询礼券余额
        $coupon.on('tap', function () {
            if ($coupon.text() === failed_text && !querying) {
                $coupon.text('').removeClass(hide_class).removeClass(error_class);
                queryBalance();
            }
        });

        //监听V钻活动事件，打开本地app
        $(document).on('click', 'li', function () {
            var $this = $(this),h5_link = $this.attr('data-h5-link');
            invokeLocal('jumpTo', {
                "info": {
                    "appInfo": h5_link?{
                        "relativeType": "9",
                        "relative": {
                            "id": parseInt($this.attr('data-id'), 10),
                            "h5_link": h5_link
                        }
                    }:{
                        "relativeType": "3",
                        "relative": {
                            "id": parseInt($this.attr('data-id'), 10)
                        }
                    },
                    "statistic": {
                        "trace": 812
                    }
                }
            });
        }).on('click', '.default .button', function () {
            invokeLocal('jumpTo', {
                "info": {
                    "appInfo": {
                        "relativeType": "3",
                        "relative": {
                            "id": 0
                        }
                    },
                    "statistic": {
                        "trace": 813
                    }
                }
            });
        }).on('scroll',function(){
            //如果有下一页，滑到底部了并且没有正在查询活动数据
            var h=$body.height()-$window.height();
            if(hasNext&&(h-$body.scrollTop())<10&&!activity_querying){
                getActivity();
            }
        });

        //注册template公用辅助方法，根据开始、结束时间返回特定内容
        template.config("escape", false);  //不转义
        template.helper(
                "formatStartDate",
                function (now, startTime, endTime) {
                    var hh,
                            mm,
                            start = startTime - now,
                            end = endTime - now;
                    //大于1天
                    if (start >= (24 * 3600 * 1000)) {
                        return "距离开始<em>" + Math.floor(start / (24 * 3600 * 1000)) + "</em>天";
                    } else if (start > 0) {
                        //不足一天
                        hh = Math.floor(start / (3600 * 1000));
                        mm = Math.ceil((start % (3600 * 1000)) / (60 * 1000));
                        return "距离开始<em>" + (hh >= 10 ? hh : ("0" + hh)) + "</em>时<em>" + (mm > 10 ? mm : ("0" + mm)) + "</em>分";

                    } else if (end >= (24 * 3600 * 1000)) {
                        return "距离结束<em>" + Math.floor(end / (24 * 3600 * 1000)) + "</em>天";
                    } else if (end > 0) {
                        //不足一天
                        hh = Math.floor(end / (3600 * 1000));
                        mm = Math.ceil((end % (3600 * 1000)) / (60 * 1000));
                        return "距离结束<em>" + (hh >= 10 ? hh : ("0" + hh)) + "</em>时<em>" + (mm > 10 ? mm : ("0" + mm)) + "</em>分";
                    } else {
                        return "活动已结束";
                    }
                });

        template.helper('srcHandler', function(data,src){
       	    if(null!=data && typeof(data)!="undefined"){
        		return data.replace(src,"https://imgwsdl.vivo.com.cn");
        	}
        	return data;
       });

        //获取V钻活动数据
        function getActivity(){
            activity_querying=true;
            $.ajax({
                url: 'https://gamecenter.vivo.com.cn/clientRequest/queryVzActivityList'+location.search+'&page_index='+page,
                dataType: 'json',
                timeout: 10000,
                success: function(data){
                    page++;
                    hasNext=data.data.hasNext;
                    //如果是初始化
                    if(init){
                        init=false;
                        if(data.data.activityModuleList){
                            $ul=$('<ul></ul>');
                            $ul.append(template("j_template", data.data));
                            $('#main').append($ul);
                        }else{
                            $('#main').append($('<div class="default">\
                                <img src="//hf.gamecenter.vivo.com.cn/assets/img/vjewel-activity/default-background.png" />\
                                <p>未发现V钻活动</p>\
                                <a class="button">查看其它活动</a>\
                                </div>'));
                            $body.css({
                                paddingBottom: '0'
                            });
                        }
                    }else{
                        $ul.append(template("j_template", data.data));
                    }
                    activity_querying=false;
                },
                error: function(){
                    activity_querying=false;
                }
            });
        }
        getActivity();
        //V钻充值
        $rechargeBtn.on('click', function(){
            invokeLocal('diamondRecharge', {
                "info": {}
            });
        });
    </script>
</body>
</html>
